/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #240a34;
  color: #ffffff; /* White text */
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 80px auto 0; /* Add margin from the top */
  padding: 20px;
}

/* Heading styles */
h1 {
  font-size: clamp(40px, 8vw, 80px); /* Responsive font size */
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  font-size: clamp(2rem, 5vw, 6rem);
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}

/* Navbar styles */
nav {
  position: fixed; /* Fix the navigation bar */
  top: 20px; /* Add some space from the top */
  left: 20px; /* Add some space from the left */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Align items vertically */
  width: calc(100% - 40px); /* Set width to fill remaining space */
}

nav img {
  height: 40px; /* Adjust the height of the logo */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for layout */
}

nav ul li {
  margin: 0 10px;
}

nav ul li:first-child {
  margin-left: 0; /* Remove margin from the first list item */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

nav ul li a,
nav ul li button {
  /* Apply same styles to button */
  color: #5f374b;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li button:hover {
  /* Apply same hover effect */
  background-color: transparent;
  border: none;
  color: #eabe6c;
  cursor: pointer; /* Ensure cursor changes on hover */
}

/* Typing animation styles (reset) */
.typing-container {
  font-size: x-large;
  display: inline-block; /* Maintain inline-block for side-by-side placement */
  overflow: hidden; /* Keep overflow hidden */
  white-space: nowrap; /* Keep text on one line */
  border-right: none; /* Remove the typing effect border */
  animation: none; /* Remove any existing animation */
}

/* Cursor styles (ensure only one element) */
.cursor {
  /* Assuming there's only one element with this class */
  animation: blink 0.5s step-end infinite; /* Blinking animation for the cursor */
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.light-bokeh {
  position: fixed;
  width: 1000px; /* Set the initial size of the bokeh */
  height: 999px; /* Set the initial size of the bokeh */
  border-radius: 70%; /* Make it circular */
  background: radial-gradient(
    circle,
    rgba(91, 29, 129, 0.814) 18%,
    rgba(255, 255, 255, 0) 60%
  );
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);

  /* Shadow (subtle) */
}

/* About section styles */
#about {
  text-align: left; /* Align content to the left */
  margin-top: 40px; /* Add some space between sections */
}

#about h2 {
  font-size: 2rem; /* Adjust heading size */
  font-weight: bold;
  margin-bottom: 20px; /* Add space below heading */
}

#about p {
  font-size: large;
  line-height: 1.3;
  color: #8892b0;
  margin-bottom: 18px; /* Add space below paragraphs */
}

#about ul {
  list-style-type: none;
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(2, 1fr); /* Create 3 columns with equal width */
  grid-gap: 20px; /* Add space between grid items */
  margin-top: 20px; /* Add space above the list */
}

#about ul li {
  position: relative; /* Set position to relative */
  padding-left: 20px; /* Adjust padding to accommodate the symbol */
  color: #8892b0;
}

#about ul li::before {
  content: "▹";
  position: absolute; /* Set position to absolute */
  left: 0; /* Position it at the start of the list item */
  color: #ffedd8;
  font-size: 14px;
  line-height: 12px;
}

.text-lg {
  font-size: larger;
  margin: 20px 0px 0px;
  max-width: 540px;
}

.space1 {
  margin-top: 20px;
}

.space2 {
  margin-top: 15px;
}

.space3 {
  margin-top: 250px;
}

.space4 {
  margin-top: 50px;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.logo-button:focus {
  outline: none;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust width as needed */
  gap: 1rem;
}

.skill-card {
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.skill-logo:hover {
  filter: grayscale(0%);
}

.skill-name {
  font-weight: bold;
  text-align: center;
}

.skill-progress-bar {
  margin-top: 0.5rem;
}

.skill-progress-bar-fill {
  height: 6px;
  background-color: #3182ce;
  border-radius: 3px;
}

.progress-number {
  display: block;
  font-weight: bold;
  margin-right: 5px; /* Adjust spacing as needed */
}

/* projects.css */

.projects-container {
  max-width: 960px;
  margin: 80px auto 0;
  padding: 20px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Adjust width as needed */
  gap: 1rem;
}

.project-card {
  position: relative;
  width: 400px; /* Adjust width as needed */
  height: 450x; /* Adjust height as needed */
  overflow: hidden;
}

.project-image {
  width: 100%;
  max-width: 999px;
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensure the image covers the entire container */
  filter: contrast(75%)  /* Smooth transition effect */
}



.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center;
  opacity: 1; 
  transition: opacity 0.3s ease; /* Smooth transition effect */
  pointer-events: none; /* Ignore pointer events */
}




/* contact-me.css */

.contact-me-container {
  max-width: 960px;
  margin: 80px auto 0;
  padding: 20px;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.contact-info > div {
  background-color: #460e69;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.416);
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.contact-info a {
  color: #3182ce;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #2c5282;
}

/* app.css */

.balloon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: balloonAnimation 5s ease-in-out; /* Longer animation */
}

@keyframes balloonAnimation {
  0% {
    transform: translateY(0) scale(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-100px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px) scale(0.8);
    opacity: 0;
  }
}

#spotify-container {
  position: fixed;
  bottom: 20px; /* Adjust position from the bottom */
  left: 20px; /* Adjust position from the left */
  display: flex;
  align-items: center;
}

#spotify-logo {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

#spotify-logo:hover {
  transform: scale(1.1); /* Zoom in effect on hover */
}

#track-info {
  display: none; /* Hide track info by default */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  position: absolute;
  bottom: -170px; /* Adjust position to be below the Spotify logo */
  left: 0;
  width: 200px; /* Adjust width as needed */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  padding: 10px;
  border-radius: 10px;
  transition: bottom 0.3s ease; /* Add transition for smooth animation */
}

#spotify-container:hover #track-info {
  display: block; /* Display track info on hover */
  bottom: 60px; /* Adjust position to show above the Spotify logo */
}

#album-cover {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 5px;
}

#track-name,
#artist {
  margin-top: 10px;
  font-size: 14px; /* Adjust font size */
  font-weight: bold;
  color: #ffffff; /* White text */
  text-align: center;
}

#listening-message {
  font-size: 12px; /* Adjust font size */
  color: #ffffff; /* White text */
  text-align: center;
  margin-top: 6px;
}
